h3 {
  margin-bottom: 0;
  color: rgb(34, 34, 34); /* Dark gray for text */
}

.notice {
  margin-top: 0;
}

form {
  > p {
    margin-top: 0;
  }
}

.spot-form {
  text-align: left;
  max-width: 30%;
  margin: auto;
}

.add-it {
  color: white;
  background-color: rgb(34, 139, 34); /* Forest green background */
  width: fit-content;
  cursor: pointer;
  margin: 1.5rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 3px inset; /* Darker shadow for depth */
  padding: 0.6rem 1rem;
  border-width: 1px;
}

.add-it:hover {
  background-color: rgb(28, 128, 28); /* Darker green for hover */
  box-shadow: rgba(0, 0, 0, 0.5) 3px 4px 4px;
}

.errors.message {
  color: red;
  font-size: 0.8rem;
}

.description {
  height: 4rem;
  width: 93%;
}

.button-box {
  display: flex;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: column;
}

.city-state {
  display: flex;
}

.comma {
  font-size: 1.6rem;
  line-height: 1rem;
  padding-left: 0.2rem;
}

.city {
  width: 100%;
}

.city-input {
  width: 90%;
}
