.main-spot-content {
  text-align: left;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 248, 255); /* Light blue background */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(200, 225, 255); /* Light blue border */
}

.preview {
  width: 50%;
  height: 22vw;
  background-color: rgb(230, 240, 250); /* Subtle light blue background */
  border-radius: 0.5rem;
  border: 2px solid rgb(135, 206, 250); /* Light sky blue border */
}

.details {
  display: flex;
  gap: 1rem; /* Add spacing between child elements */
}

.divider {
  border: 1px solid rgb(200, 225, 255); /* Light blue divider */
  margin-bottom: 2rem;
}
